{% assign threshold = section.settings.free-shipping-threshold | times: 100 %}
{% assign amount_remainging = threshold | minus: cart.items_subtotal_price %}
{% assign amount_remaining_money = amount_remainging | money %}

<div class="shipping-bar">
  {% if amount_remaining <= 0 %}
    <p>{{ section.settings.free-shipping-message }}</p>
    {% else %}
      <p>{{ section.settings.approaching-message | replace: '*', amount_remaining_money }} </p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Free Shipping Bar",
  "class": "free-shipping-bar",
  "settings": [
    {
      "type": "text",
      "id": "free-shipping-threshold",
      "label": "Free Shipping Threshold",
      "info": "Include number only.  No $ needed."
    },
    {
      "type": "text",
      "id": "approaching-message",
      "label": "Almost Free Shipping",
      "info": "Add an * where you would like the price to appear.",
    },
    {
      "type": "text",
      "id": "free-shipping-message",
      "label": "Free Shipping Message"
    }
  ]
}
{% endschema %}